:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell {
  width: 62.5px;
  height: 62.5px;
  border: 2px solid rgb(224, 224, 224);
  font-weight: bold;
  border-radius: 5px;
  font-size: 1.875rem;
}

.focused {
  border-color: rgb(138, 193, 255);
}

.in-position-digit {
  background-color: #4caf50;
  color: white;
}

.out-of-position-digit {
  background-color: #ff9800;
  color: white;
}